{{ define "main" }}
<div data-server-rendered="false" id="__nuxt">
    <div id="__layout">
      <div>
        {{ partial "header.html" . }}
        <div id="official" class="main">
          <div class="banner" style="background-image:url(/images/d52507f.svg)" data-v-65843835>
            <div class="container" data-v-65843835>
              <div class="content" data-v-65843835>
                <div class="title" data-v-65843835>政企正版化解决方案</div>
                <div class="desc" data-v-65843835>以WPS Office客户端为核心，提供正版化解决方案</div>
              </div>
              <div class="icon" style="background-image:url(/images/9601036.svg)" data-v-65843835></div>
            </div>
          </div>
          <div class="standard" data-v-ff6b71da>
            <div class="container" data-v-ff6b71da>
              <div class="title" data-v-ff6b71da>正版化平台新标准</div>
              <div class="desc" data-v-ff6b71da>无论是WPS Office For Windows版还是Linux版，都可无缝切换软件产品，平滑过渡</div>
              <div class="standard-list clearfix" data-v-ff6b71da>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/f00ad9a.svg" alt="系统兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>操作系统兼容</div>
                    <div class="desc" data-v-ff6b71da>兼容 “中标，麒麟，深度，中科方德，普华，思普，一铭” 操作系统</div>
                  </div>
                </div>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/8b89662.svg" alt="文件格式兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>文件格式兼容</div>
                    <div class="desc" data-v-ff6b71da>兼容文字排版、表格计算、演示动画三大核心，支持多种Office文档格式以及国家标准文档格式</div>
                  </div>
                </div>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/46ce47e.svg" alt="二次开发兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>二次开发兼容</div>
                    <div class="desc" data-v-ff6b71da>兼容API接口定义
                      <br>支持国家标准的文档控件标准接口
                      <br>支持国家标准的公文域的定义，调用集成及内容显示
                    </div>
                  </div>
                </div>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/9f8f337.svg" alt="CPU兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>CPU兼容</div>
                    <div class="desc" data-v-ff6b71da>深度兼容 “龙芯，飞腾，兆芯，申威，众志” CPU</div>
                  </div>
                </div>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/d38dbbf.svg" alt="操作习惯兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>操作习惯兼容</div>
                    <div class="desc" data-v-ff6b71da>尊重用户使用习惯，降低软件迁移成本</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix" data-v-ff6b71da></div>
          </div>
          <div class="features reverse" data-v-5968acc5>
            <div class="item" data-v-5968acc5>
              <div class="container" data-v-5968acc5>
                <div class="content" data-v-5968acc5>
                  <div class="box" data-v-5968acc5>
                    <div class="title" data-v-5968acc5>高性价比的解决方案</div>
                    <div class="desc" data-v-5968acc5>WPS Office可帮助你快速实现软件正版化，规避因版权法律诉讼带来的经济损失</div>
                    <div data-v-5968acc5>
                      <ul class="slot-office-icons">
                        <li>
                          <img src="/images/0aa28b2.svg" alt="DOC">
                          <span>DOC</span>
                        </li>
                        <li>
                          <img src="/images/ade91e8.svg" alt="XLS">
                          <span>XLS</span>
                        </li>
                        <li>
                          <img src="/images/35331b3.svg" alt="PPT">
                          <span>PPT</span>
                        </li>
                        <li>
                          <img src="/images/5fe8ab6.svg" alt="PDF">
                          <span>PDF</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="icon" data-v-5968acc5>
                  <img border="0" alt="高性价比的解决方案" data-v-5968acc5>
                </div>
              </div>
            </div>
            <div class="item" data-v-5968acc5>
              <div class="container" data-v-5968acc5>
                <div class="content" data-v-5968acc5>
                  <div class="box" data-v-5968acc5>
                    <div class="title" data-v-5968acc5>杜绝正版化死角</div>
                    <div class="desc" data-v-5968acc5>快速统计政企单位内部Office软件使用情况</div>
                    <!---->
                  </div>
                </div>
                <div class="icon" data-v-5968acc5>
                  <img border="0" alt="杜绝正版化死角" data-v-5968acc5>
                </div>
              </div>
            </div>
            <div class="item" data-v-5968acc5>
              <div class="container" data-v-5968acc5>
                <div class="content" data-v-5968acc5>
                  <div class="box" data-v-5968acc5>
                    <div class="title" data-v-5968acc5>降低IT运维成本</div>
                    <div class="desc" data-v-5968acc5>将WPS Office统一升级至最新版本，提升办公效率，解决因浏览器版本、Office控件和版本差异造成的兼容性问题。简单改造，直接调用WPS Office进行预览、编辑操作</div>
                    <!---->
                  </div>
                </div>
                <div class="icon" data-v-5968acc5>
                  <img border="0" alt="降低IT运维成本" data-v-5968acc5>
                </div>
              </div>
            </div>
            <div class="item" data-v-5968acc5>
              <div class="container" data-v-5968acc5>
                <div class="content" data-v-5968acc5>
                  <div class="box" data-v-5968acc5>
                    <div class="title" data-v-5968acc5>培养专业技能，获得认可</div>
                    <div class="desc" data-v-5968acc5>为政企客户提供了多种高级培训课程，培养员工高效使用办公软件，提高工作效率</div>
                    <!---->
                  </div>
                </div>
                <div class="icon" data-v-5968acc5>
                  <img border="0" alt="培养专业技能，获得认可" data-v-5968acc5>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ partial "footer.html" . }}
        <div class="sticker" data-v-7a62f03a>
          <div class="backtop" data-v-7a62f03a>
            <svg aria-hidden="true" type="top" class="ico" data-v-7a62f03a>
              <use xlink:href="#ep-icon-top"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
