{{ define "main" }}
<div data-server-rendered="false" id="__nuxt">
    <div id="__layout">
      <div>
        {{ partial "header.html" . }}
        <div id="official" class="main">
          <div class="banner" style="background-image:url(/images/d52507f.svg)" data-v-65843835>
            <div class="container" data-v-65843835>
              <div class="content" data-v-65843835>
                <div class="title" data-v-65843835>政企正版化解決方案</div>
                <div class="desc" data-v-65843835>以WPS Office客戶端為核心，提供正版化解決方案</div>
              </div>
              <div class="icon" style="background-image:url(/images/9601036.svg)" data-v-65843835></div>
            </div>
          </div>
          <div class="standard" data-v-ff6b71da>
            <div class="container" data-v-ff6b71da>
              <div class="title" data-v-ff6b71da>正版化平台新標準</div>
              <div class="desc" data-v-ff6b71da>無論是WPS Office For Windows版還是Linux版，都可無縫切換軟體產品，平滑過渡</div>
              <div class="standard-list clearfix" data-v-ff6b71da>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/f00ad9a.svg" alt="系统兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>操作系統兼容</div>
                    <div class="desc" data-v-ff6b71da>兼容 “中標，麒麟，深度，中科方德，普華，思普，一銘\” 操作系統</div>
                  </div>
                </div>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/8b89662.svg" alt="文件格式兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>文件格式兼容</div>
                    <div class="desc" data-v-ff6b71da>兼容文字排版、表格計算、演示動畫三大核心，支援多種Office文檔格式以及國家標準文檔格式</div>
                  </div>
                </div>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/46ce47e.svg" alt="二次开发兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>二次開發兼容</div>
                    <div class="desc" data-v-ff6b71da>兼容API接口定義
                      <br>支持國家標準的文檔控件項標準接口
                      <br>支持國家標準的公文域的定義，調用集成及內容顯示
                    </div>
                  </div>
                </div>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/9f8f337.svg" alt="CPU兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>CPU兼容</div>
                    <div class="desc" data-v-ff6b71da>深度兼容 “龍芯，飛騰，兆芯，申威，眾志” CPU</div>
                  </div>
                </div>
                <div class="item" data-v-ff6b71da>
                  <div class="logo-box" data-v-ff6b71da>
                    <img src="/images/d38dbbf.svg" alt="操作习惯兼容" data-v-ff6b71da>
                  </div>
                  <div class="content" data-v-ff6b71da>
                    <div class="title" data-v-ff6b71da>操作習慣兼容</div>
                    <div class="desc" data-v-ff6b71da>尊重用户使用習慣，降低軟體遷移成本</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix" data-v-ff6b71da></div>
          </div>
          <div class="features reverse" data-v-5968acc5>
            <div class="item" data-v-5968acc5>
              <div class="container" data-v-5968acc5>
                <div class="content" data-v-5968acc5>
                  <div class="box" data-v-5968acc5>
                    <div class="title" data-v-5968acc5>高性價比的解決方案</div>
                    <div class="desc" data-v-5968acc5>WPS Office可帮助你快速實現軟體正版化，規避因版權法律訴訟帶來的經濟損失</div>
                    <div data-v-5968acc5>
                      <ul class="slot-office-icons">
                        <li>
                          <img src="/images/0aa28b2.svg" alt="DOC">
                          <span>DOC</span>
                        </li>
                        <li>
                          <img src="/images/ade91e8.svg" alt="XLS">
                          <span>XLS</span>
                        </li>
                        <li>
                          <img src="/images/35331b3.svg" alt="PPT">
                          <span>PPT</span>
                        </li>
                        <li>
                          <img src="/images/5fe8ab6.svg" alt="PDF">
                          <span>PDF</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="icon" data-v-5968acc5>
                  <img border="0" alt="高性价比的解决方案" src="/images/f2d3c36.svg">
                </div>
              </div>
            </div>
            <div class="item" data-v-5968acc5>
              <div class="container" data-v-5968acc5>
                <div class="content" data-v-5968acc5>
                  <div class="box" data-v-5968acc5>
                    <div class="title" data-v-5968acc5>杜絕正版化死角</div>
                    <div class="desc" data-v-5968acc5>快速統計政企單位內部Office軟體使用情况</div>
                    <!---->
                  </div>
                </div>
                <div class="icon" data-v-5968acc5>
                  <img border="0" alt="杜绝正版化死角" src="/images/f2d3c36.svg">
                </div>
              </div>
            </div>
            <div class="item" data-v-5968acc5>
              <div class="container" data-v-5968acc5>
                <div class="content" data-v-5968acc5>
                  <div class="box" data-v-5968acc5>
                    <div class="title" data-v-5968acc5>降低IT運維成本</div>
                    <div class="desc" data-v-5968acc5>將WPS Office統一升級至最新版本，提升辦公效率，解決因瀏覽器版本、Office控制項和版本差異造成的相容性問題。 簡單改造，直接調用WPS Office進行預覽、編輯操作</div>
                    <!---->
                  </div>
                </div>
                <div class="icon" data-v-5968acc5>
                  <img border="0" alt="降低IT运维成本" src="/images/f2d3c36.svg">
                </div>
              </div>
            </div>
            <div class="item" data-v-5968acc5>
              <div class="container" data-v-5968acc5>
                <div class="content" data-v-5968acc5>
                  <div class="box" data-v-5968acc5>
                    <div class="title" data-v-5968acc5>培養專業技能，獲得認可</div>
                    <div class="desc" data-v-5968acc5>為政企客戶提供了多種高級培訓課程，培養員工高效使用辦公軟件，提高工作效率</div>
                    <!---->
                  </div>
                </div>
                <div class="icon" data-v-5968acc5>
                  <img border="0" alt="培养专业技能，获得认可" src="/images/f2d3c36.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ partial "footer.html" . }}
        <div class="sticker" data-v-7a62f03a>
          <div class="backtop" data-v-7a62f03a>
            <svg aria-hidden="true" type="top" class="ico" data-v-7a62f03a>
              <use xlink:href="#ep-icon-top"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
