{{ define "main" }}
<div id="solution-mobile" class="main">
	<div class="banner" style="background-image:url(/images/d52507f.svg)" data-v-65843835>
		<div class="container" data-v-65843835>
			<div class="content" data-v-65843835>
				<div class="title" data-v-65843835>移動辦公流動智能解決方案</div>
				<div class="desc" data-v-65843835>以政企數據集中管控為依託，移動辦公高效協同為抓手，形成隨時隨地、安全可靠的文檔閱讀、編輯的解決方案</div>
			</div>
			<div class="icon" style="background-image:url(/images/b3f7591.svg)" data-v-65843835></div>
		</div>
	</div>
	<div class="features" data-v-5968acc5>
		<div class="item" data-v-5968acc5>
			<div class="container" data-v-5968acc5>
				<div class="content" data-v-5968acc5>
					<div class="box" data-v-5968acc5>
						<div class="title" data-v-5968acc5>工作從此擺脫時空限制</div>
						<div class="desc" style="width:400px" data-v-5968acc5>根據需要，可隨時隨地在不同設備上開展工作，分享文檔</div>
						<!---->
					</div>
				</div>
				<div class="icon" data-v-5968acc5>
					<img border="0" alt="工作从此摆脱时空限制" src="/images/6aca58c.svg">
				</div>
			</div>
		</div>
		<div class="item" data-v-5968acc5>
			<div class="container" data-v-5968acc5>
				<div class="content" data-v-5968acc5>
					<div class="box" data-v-5968acc5>
						<div class="title" data-v-5968acc5>智慧在多終端即時流轉</div>
						<div class="desc" style="width:432px" data-v-5968acc5>移動端編輯的文檔，即時同步至雲端，始終將文檔保持至最新狀態</div>
						<!---->
					</div>
				</div>
				<div class="icon" data-v-5968acc5>
					<img border="0" alt="智慧在多终端实时流转" style="margin-top:20px" src="/images/fa7eacf.svg">
				</div>
			</div>
		</div>
		<div class="item" data-v-5968acc5>
			<div class="container" data-v-5968acc5>
				<div class="content" data-v-5968acc5>
					<div class="box" data-v-5968acc5>
						<div class="title" data-v-5968acc5>文檔安全可控</div>
						<div class="desc" style="width:402px" data-v-5968acc5>WPS
							Office移動版文檔不落地解決方案，無需擔心文檔散落在終端使用者設備上，一切資料來源於雲端</div>
						<!---->
					</div>
				</div>
				<div class="icon" data-v-5968acc5>
					<img border="0" alt="文档安全可控" src="/images/ac0fc7c.svg">
				</div>
			</div>
		</div>
		<div class="item" data-v-5968acc5>
			<div class="container" data-v-5968acc5>
				<div class="content" data-v-5968acc5>
					<div class="box" data-v-5968acc5>
						<div class="title" data-v-5968acc5>簽批留痕如此簡單</div>
						<div class="desc" style="width:421px" data-v-5968acc5>PC端實現的文檔簽批，修訂，留痕，在移動端也可以如此簡單的完成</div>
						<!---->
					</div>
				</div>
				<div class="icon" data-v-5968acc5>
					<img border="0" alt="签批留痕如此简单" src="/images/305a2bb.svg">
				</div>
			</div>
		</div>
		<div class="item" data-v-5968acc5>
			<div class="container" data-v-5968acc5>
				<div class="content" data-v-5968acc5>
					<div class="box" data-v-5968acc5>
						<div class="title" data-v-5968acc5>文檔極速查閱</div>
						<div class="desc" style="width:398px" data-v-5968acc5>
							不再依託本地Office的存在，輕輕點擊即可快速預覽文檔內容，不再因下載而煩惱的等待，不再擔心木馬病毒威脅你的文檔</div>
						<!---->
					</div>
				</div>
				<div class="icon" data-v-5968acc5>
					<img border="0" alt="文档极速查阅" src="/images/d746de7.svg">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="icon" data-v-5968acc5>
	<img border="0" alt="智慧在多终端实时流转" style="margin-top:20px" src="/images/fa7eacf.svg">
</div>
</div>
</div>
<div class="item" data-v-5968acc5>
	<div class="container" data-v-5968acc5>
		<div class="content" data-v-5968acc5>
			<div class="box" data-v-5968acc5>
				<div class="title" data-v-5968acc5>文档安全可控</div>
				<div class="desc" style="width:402px" data-v-5968acc5>WPS Office移动版文档不落地解决方案，无需担心文档散落在终端用户设备上，一切数据来源于云端
				</div>
			</div>
		</div>
		<div class="icon" data-v-5968acc5>
			<img border="0" alt="文档安全可控" src="/images/ac0fc7c.svg">
		</div>
	</div>
</div>
<div class="item" data-v-5968acc5>
	<div class="container" data-v-5968acc5>
		<div class="content" data-v-5968acc5>
			<div class="box" data-v-5968acc5>
				<div class="title" data-v-5968acc5>签批留痕如此简单</div>
				<div class="desc" style="width:421px" data-v-5968acc5>PC端实现的文档签批，修订，留痕，在移动端也可以如此简单的完成</div>
			</div>
		</div>
		<div class="icon" data-v-5968acc5>
			<img border="0" alt="签批留痕如此简单" src="/images/305a2bb.svg">
		</div>
	</div>
</div>
<div class="item" data-v-5968acc5>
	<div class="container" data-v-5968acc5>
		<div class="content" data-v-5968acc5>
			<div class="box" data-v-5968acc5>
				<div class="title" data-v-5968acc5>文档极速查阅</div>
				<div class="desc" style="width:398px" data-v-5968acc5>
					不再依托本地Office的存在，轻轻点击即可快速预览文档内容，不再因下载而烦恼的等待，不再担心木马病毒威胁你的文档</div>
			</div>
		</div>
		<div class="icon" data-v-5968acc5>
			<img border="0" alt="文档极速查阅" src="/images/d746de7.svg">
		</div>
	</div>
</div>
{{ end }}