{{ define "main" }}
<div data-server-rendered="true" id="__nuxt">
  <!---->
  <div id="__layout">
    <div>
      {{ partial "header.html" . }}
      <div id="genuine" class="main" data-v-1a9692f7>
        <div data-format="webp" class="banner bg-cover" data-v-1a9692f7 style="background-image: url(/images/ca4c17d.png);">
          <div class="banner-box" data-v-1a9692f7>如何正确
            <br data-v-1a9692f7>识别WPS正版授权
          </div>
        </div>
        <div class="container" data-v-1a9692f7>
          <div class="toc-affix" data-v-1a9692f7>
            <div data-v-1a9692f7>
              <div>
                <ul class="toc" data-v-1a9692f7>
                  <li class="active" data-v-1a9692f7>
                    <span data-v-1a9692f7>正版优势</span>
                  </li>
                  <li data-v-1a9692f7>
                    <span data-v-1a9692f7>盗版危害</span>
                  </li>
                  <li data-v-1a9692f7>
                    <span data-v-1a9692f7>识别正版</span>
                  </li>
                  <li data-v-1a9692f7>
                    <span data-v-1a9692f7>授权许可</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content" data-v-1a9692f7>
            <div class="section" data-v-1a9692f7>
              <div data-id="0" class="header" data-v-1a9692f7>正版优势</div>
              <ul class="advantage" data-v-1a9692f7>
                <li data-v-1a9692f7>
                  <div class="title" data-v-1a9692f7>
                    <span class="num" data-v-1a9692f7>01</span>
                    <span data-v-1a9692f7>安全稳定</span>
                  </div>
                  <div class="desc" data-v-1a9692f7>WPS正版软件拥有良好的稳定性和兼容性。不含恶意软件和广告，避免遭受病毒攻击，造成核心数据丢失等后果。在构建安全稳定的办公环境的同时，提高企业用户的办公效率。</div>
                </li>
                <li data-v-1a9692f7>
                  <div class="title" data-v-1a9692f7>
                    <span class="num" data-v-1a9692f7>02</span>
                    <span data-v-1a9692f7>完善服务</span>
                  </div>
                  <div class="desc" data-v-1a9692f7>WPS正版软件包含完善的厂家售后服务，用户在使用软件的过程中，可以获得来自企业强大的技术支持和完善的原厂服务。</div>
                </li>
                <li data-v-1a9692f7>
                  <div class="title" data-v-1a9692f7>
                    <span class="num" data-v-1a9692f7>03</span>
                    <span data-v-1a9692f7>持续的软件更新</span>
                  </div>
                  <div class="desc" data-v-1a9692f7>金山办公一直致力于为用户提供更好的WPS和服务。购买WPS正版软件，用户可以获得最新产品更新，保持软件最新最佳状态。</div>
                </li>
                <li data-v-1a9692f7>
                  <div class="title" data-v-1a9692f7>
                    <span class="num" data-v-1a9692f7>04</span>
                    <span data-v-1a9692f7>规避法律风险</span>
                  </div>
                  <div class="desc" data-v-1a9692f7>使用WPS正版软件，规避法律风险，享受知识产权条例的保护，避免承担使用不合法软件的法律责任。</div>
                </li>
              </ul>
            </div>
            <div class="section" data-v-1a9692f7>
              <div data-id="1" class="header" data-v-1a9692f7>盗版危害</div>
              <ul class="harm" data-v-1a9692f7>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7>为企业业务正常运行带来隐患</div>
                    <div class="desc" data-v-1a9692f7>今天，软件已成为企业经营业务不可缺少的生产资料，并且是企业信息系统的核心，对整个企业经营业务、保证经营安全以及促进企业发展都有着非常重要的影响。在这种情况下，如果企业使用了盗版软件，不仅侵害著作权人的合法权益，而且对企业的经营无异于埋下了定时炸弹，随时威胁着整个企业信息系统的安全，为企业业务正常运行带来种种隐患。</div>
                  </div>
                </li>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7>危害企业信息系统的安全和业务运行</div>
                    <div class="desc" data-v-1a9692f7>盗版软件容易遭受病毒攻击，造成核心数据丢失等后果，给企业经营业务造成严重危害；由于盗版软件粗制滥造，无法保证产品质量，势必导致很多优秀的软件无法发挥其正常的功能，更有一些盗版软件经常会出现这样或那样的错误，给企业的业务带来许多问题和隐患；软件是高科技产品，往往需要与之相配合的服务才能保证用户获得一流的体验和价值。
                      <br>
                      <br> 一个完整、安全和有效的系统网络是需要经常升级和扩展的，而使用盗版软件企业由于无法得到供应商服务，使得企业用户不能得到升级保证和技术支持服务，从而影响了整个系统的安全稳定。
                    </div>
                  </div>
                </li>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7>给企业带来法律风险</div>
                    <div class="desc" data-v-1a9692f7>使用盗版软件是侵犯知识产权的行为，是国家法律明令禁止的。企业如果使用非法复制的软件．则将使自己面临法律的制裁，给企业带来巨大损失。而这样的情况一旦发生，被企业珍视为生命的品牌和企业形象等无形资产，也必然受到严重损害，造成难以挽回的负面影响。</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="section" data-v-1a9692f7>
              <div data-id="2" class="header" data-v-1a9692f7>识别正版</div>
              <ul class="identification" data-v-1a9692f7>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7>看包装</div>
                    <div class="desc" data-v-1a9692f7>盗版软件包装通常简单、粗糙，包装图案印刷质量低劣缺少真实版权信息用户手册、注册卡等。</div>
                    <!---->
                  </div>
                </li>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7>看盘片</div>
                    <div class="desc" data-v-1a9692f7>正版光盘表面基本都通过丝印技术，印有色彩鲜艳、设计讲究的图案，同时在光盘中心圆孔周围印有“激光信息来源识别码（Source Identified Code，SID）”；盗版光盘的盘面多数不采用丝印，只有少量信息，更不可能存在 SID 码等信息。</div>
                    <!---->
                  </div>
                </li>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7></div>
                    <div class="desc" data-v-1a9692f7></div>
                    <div class="cover" data-v-1a9692f7>
                      <img src="/images/da35aa2.png" data-v-1a9692f7>
                    </div>
                  </div>
                </li>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7></div>
                    <div class="desc" data-v-1a9692f7></div>
                    <div class="cover" data-v-1a9692f7>
                      <img src="/images/de5aed2.png" data-v-1a9692f7>
                    </div>
                  </div>
                </li>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7>比价格</div>
                    <div class="desc" data-v-1a9692f7>盗版软件的价格极为低廉，常以略高于空白光盘的成本价格批量销售。</div>
                    <!---->
                  </div>
                </li>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7>看模式</div>
                    <div class="desc" data-v-1a9692f7>盗版光盘经常以众多软件的合集出现，而正版软件公司一般不会以拼盘的形式销售自己的产品。非法复制的光盘几乎都是以大批、散装的形式贩卖。</div>
                    <!---->
                  </div>
                </li>
                <li data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="title" data-v-1a9692f7>看授权</div>
                    <div class="desc" data-v-1a9692f7>企业使用正版软件，最权威的识别标准是是否获得软件著作权人授予的授权许可。</div>
                    <!---->
                  </div>
                </li>
              </ul>
            </div>
            <div class="section" data-v-1a9692f7>
              <div data-id="3" class="header" data-v-1a9692f7>授权许可方式</div>
              <ul class="license" data-v-1a9692f7>
                <li class="cover-bottom" data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="article-box" data-v-1a9692f7>
                      <div class="title" data-v-1a9692f7>单用户授权</div>
                      <div class="desc" data-v-1a9692f7>单用户授权许可，是一种适用于单个用户的许可，只要符合软件安装过程中出现的最终用户许可协议的要求，某一用户可以在协议允许的范围内，获得在授权终端上使用软件的权利。
                        <br>
                        <br>单用户授权许可通常以零售软件产品为代表，俗称“彩包”，一般包括最终用户许可协议、说明手册、原始介质、发票或者收据。
                      </div>
                    </div>
                    <div class="cover" data-v-1a9692f7>
                      <img data-format="webp" data-v-1a9692f7>
                    </div>
                  </div>
                </li>
                <li class="cover-right" data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="article-box" data-v-1a9692f7>
                      <div class="title" data-v-1a9692f7>数量授权</div>
                      <div class="desc" data-v-1a9692f7>数量授权许可，是指软件著作权人根据用户实际被授权的计算机数量，授权被许可人在约定的硬件设备数量内以办公为目的的安装、使用软件的方式。
                        <br>
                        <br>该许可方式可以减少著作权人提供的介质数量，而只提供安装序列号，从而降低了无谓的介质生产消耗，同时减少了用户管理软件介质的成本，并较单用户授权许可价格更为低廉。
                        <br>
                        <br>数量授权许可一般都明确约定可使用软件的计算机数量，并分别配置安装序列号，是中小企业比较常见的授权方式。
                        <br>
                        <br>数量授权许可一般默认包含所购买的当前版本一年内的升级服务。为使用单位提供许可证书，许可内容包括用户单位名称，许可软件的名称、数量和升级期限等信息。
                        <br>
                        <br>一般提供一套免费软件介质，或者单独订购光盘介质，也可以在厂商网站下载安装程序进行安装。
                      </div>
                    </div>
                    <div class="cover" data-v-1a9692f7>
                      <img data-format="webp" data-v-1a9692f7>
                    </div>
                  </div>
                </li>
                <li class="cover-right" data-v-1a9692f7>
                  <div class="article" data-v-1a9692f7>
                    <div class="article-box" data-v-1a9692f7>
                      <div class="title" data-v-1a9692f7>租赁授权</div>
                      <div class="desc" data-v-1a9692f7>租赁授权许可，顾名思义，就是指用户通过租赁而不是购买的方式，获得自己所需软件的有期限的使用权，软件开发商在租赁期内为用户一定数量授权许可，租赁期截止服务即终止。当用户需要有期限的使用某软件时，这种授权许可常常被采用。
                        <br>
                        <br>这种授权许可的优点是目的性强、费用低、软件升级和维护的影响小、不易发生资产流失，缺点是长期连续租赁费用较高。
                      </div>
                    </div>
                    <div class="cover" data-v-1a9692f7>
                      <img data-format="webp" data-v-1a9692f7>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
      <div class="sticker" data-v-7a62f03a>
        <div class="backtop" data-v-7a62f03a>
          <svg aria-hidden="true" type="top" class="ico" data-v-7a62f03a>
            <use xlink:href="#ep-icon-top"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
