{{ define "main" }}
<div data-format="webp" class="banner bg-cover" data-v-1a9692f7 style="background-image: url(/images/ca4c17d.png);">
    <div class="banner-box" data-v-1a9692f7>如何正確
      <br data-v-1a9692f7>識別WPS正版授權
    </div>
  </div>
  <div class="container" data-v-1a9692f7>
    <div class="toc-affix" data-v-1a9692f7>
      <div data-v-1a9692f7>
        <div>
          <ul class="toc" data-v-1a9692f7>
            <li class="active" data-v-1a9692f7>
              <span data-v-1a9692f7>正版優勢</span>
            </li>
            <li data-v-1a9692f7>
              <span data-v-1a9692f7>盜版危害</span>
            </li>
            <li data-v-1a9692f7>
              <span data-v-1a9692f7>識別正版</span>
            </li>
            <li data-v-1a9692f7>
              <span data-v-1a9692f7>授權許可</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content" data-v-1a9692f7>
      <div class="section" data-v-1a9692f7>
        <div data-id="0" class="header" data-v-1a9692f7>正版優勢</div>
        <ul class="advantage" data-v-1a9692f7>
          <li data-v-1a9692f7>
            <div class="title" data-v-1a9692f7>
              <span class="num" data-v-1a9692f7>01</span>
              <span data-v-1a9692f7>安全穩定</span>
            </div>
            <div class="desc" data-v-1a9692f7>WPS正版軟體擁有良好的穩定性和相容性。 不含惡意軟體和廣告，避免遭受病毒攻擊，造成核心數據丟失等後果。
              在構建安全穩定的辦公環境的同時，提高企業用户的辦公效率。</div>
          </li>
          <li data-v-1a9692f7>
            <div class="title" data-v-1a9692f7>
              <span class="num" data-v-1a9692f7>02</span>
              <span data-v-1a9692f7>完善服務</span>
            </div>
            <div class="desc" data-v-1a9692f7>WPS正版軟件包含完善的廠家售後服務，用在使用軟件的過程中，可以獲得來自企業強大的技術支援和完善的原廠服務。</div>
          </li>
          <li data-v-1a9692f7>
            <div class="title" data-v-1a9692f7>
              <span class="num" data-v-1a9692f7>03</span>
              <span data-v-1a9692f7>持續的軟件更新</span>
            </div>
            <div class="desc" data-v-1a9692f7>金山辦公一直致力於為用户提供更好的WPS和服務。 購買WPS正版軟件，用户可以獲得最新產品更新，保持軟件最新最佳狀態。</div>
          </li>
          <li data-v-1a9692f7>
            <div class="title" data-v-1a9692f7>
              <span class="num" data-v-1a9692f7>04</span>
              <span data-v-1a9692f7>規避法律風險</span>
            </div>
            <div class="desc" data-v-1a9692f7>使用WPS正版軟體，規避法律風險，享受智慧財產權條例的保護，避免承擔使用不合法軟體的法律責任。 </div>
          </li>
        </ul>
      </div>
      <div class="section" data-v-1a9692f7>
        <div data-id="1" class="header" data-v-1a9692f7>盗版危害</div>
        <ul class="harm" data-v-1a9692f7>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7>為企業業務正常運行帶來隱患</div>
              <div class="desc" data-v-1a9692f7>今天，軟件已成為企業經營業務不可缺少的生產資料，並且是公司信息系統的核心，對整個企業經營業務、保證經營安全以及促進企業發展都有著非常重要的影響。
                在這種情況下，如果企業使用了盜版軟體，不僅侵害著作權人的合法權益，而且對企業的經營無異于埋下了定時炸彈，隨時威脅著整個公司信息系統的安全，為企業業務正常運行帶來種種隱患。</div>
            </div>
          </li>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7>危害公司信息系統的安全和業務運行</div>
              <div class="desc" data-v-1a9692f7>
                盜版軟件容易遭受病毒攻擊，造成核心數據丟失等後果，給企業經營業務造成嚴重危害；由於盜版軟件粗製濫造，無法保證產品質量，勢必導致很多優秀的軟件無法發揮其正常的功能，更有一些盜版軟件經常會出現這樣或那樣的錯誤，
                給企業的業務帶來許多問題和隱患；軟件是高科技產品，往往需要與之相配合的服務才能保證用户獲得一流的體驗和價值。
                <br>
                <br> 一個完整、安全和有效的系統網路是需要經常升級和擴展的，而使用盜版軟件企業由於無法得到供應商服務，使得企業使用者不能得到升級保證和技術支援服務，從而影響了整個系統的安全穩定。
              </div>
            </div>
          </li>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7>給企業帶來法律風險</div>
              <div class="desc" data-v-1a9692f7>使用盜版軟件是侵犯智慧財產權的行為，是國家法律明令禁止的。 企業如果使用非法複製的軟件． 則將使自己面臨法律的制裁，給企業帶來巨大損失。
                而這樣的情況一旦發生，被企業珍視為生命的品牌和企業形象等無形資產，也必然受到嚴重損害，造成難以挽回的負面影響。</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="section" data-v-1a9692f7>
        <div data-id="2" class="header" data-v-1a9692f7>識別正版</div>
        <ul class="identification" data-v-1a9692f7>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7>看包裝</div>
              <div class="desc" data-v-1a9692f7>盜版套裝軟體裝通常簡單、粗糙，包裝圖案印刷品質低劣缺少真實版權信息用户手冊、註冊卡等。</div>
              <!---->
            </div>
          </li>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7>看碟片</div>
              <div class="desc" data-v-1a9692f7>正版光碟表面基本都通過絲印技術，印有色彩鮮豔、設計講究的圖案，同時在光碟中心圓孔周圍印有「鐳射資訊來源識別碼（Source Identified
                Code，SID）」；盜版光碟的碟面多數不採用絲印，只有少量信息，更不可能存在 SID 碼等信息。</div>
              <!---->
            </div>
          </li>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7></div>
              <div class="desc" data-v-1a9692f7></div>
              <div class="cover" data-v-1a9692f7>
                <img src="/images/da35aa2.png" data-v-1a9692f7>
              </div>
            </div>
          </li>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7></div>
              <div class="desc" data-v-1a9692f7></div>
              <div class="cover" data-v-1a9692f7>
                <img src="/images/de5aed2.png" data-v-1a9692f7>
              </div>
            </div>
          </li>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7>比價格</div>
              <div class="desc" data-v-1a9692f7>盜版軟體的價格極為低廉，常以略高於空白光碟的成本價格批量銷售。</div>
              <!---->
            </div>
          </li>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7>看模式</div>
              <div class="desc" data-v-1a9692f7>盜版光碟經常以眾多軟體的合集出現，而正版軟件公司一般不會以拼碟的形式銷售自己的產品。 非法複製的光碟幾乎都是以大批、散裝的形式販賣。</div>
              <!---->
            </div>
          </li>
          <li data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="title" data-v-1a9692f7>看授權</div>
              <div class="desc" data-v-1a9692f7>企業使用正版軟件，最權威的識別標準是是否獲得軟件著作權人授予的授權許可。</div>
              <!---->
            </div>
          </li>
        </ul>
      </div>
      <div class="section" data-v-1a9692f7>
        <div data-id="3" class="header" data-v-1a9692f7>授權許可方式</div>
        <ul class="license" data-v-1a9692f7>
          <li class="cover-bottom" data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="article-box" data-v-1a9692f7>
                <div class="title" data-v-1a9692f7>單使用者授權</div>
                <div class="desc" data-v-1a9692f7>
                  單用户授權許可，是一種適用于單個用户的許可，只要符合軟件安裝過程中出現的最終用户許可協議的要求，某一用户可以在協議允許的範圍內，獲得在授權終端上使用軟件的權利。
                  <br>
                  <br>單用户授權許可通常以零售軟件產品為代表，俗稱「彩包」，一般包括用户許可協議、說明手冊、原始介質、發票或者收據。
                </div>
              </div>
              <div class="cover" data-v-1a9692f7>
                <img data-format="webp" data-v-1a9692f7>
              </div>
            </div>
          </li>
          <li class="cover-right" data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="article-box" data-v-1a9692f7>
                <div class="title" data-v-1a9692f7>數量授權</div>
                <div class="desc" data-v-1a9692f7>數量授權許可，是指軟件著作權人根據使用者實際被授權的電腦數量，授權被許可人在約定的硬體設備數量內以辦公為目的的安裝、使用軟件的方式。
                  <br>
                  <br>該許可方式可以減少著作權人提供的介質數量，而只提供安裝序號，從而降低了無謂的介質生產消耗，同時減少了使用者管理軟體介質的成本，並較單使用者授權許可價格更為低廉。
                  <br>
                  <br>數量授權許可一般都明確約定可使用軟體的電腦數量，並分別配置安裝序號，是中小企業比較常見的授權方式。
                  <br>
                  <br>數量授權許可一般預設包含所購買的當前版本一年內的升級服務。為使用單位提供許可證書，許可內容包括使用者單位名稱，許可軟體的名稱、數量和升級期限等資訊。
                  <br>
                  <br>一般提供一套免費軟體介質，或者單獨訂購光碟介質，也可以在廠商網站下載安裝程式進行安裝。
                </div>
              </div>
              <div class="cover" data-v-1a9692f7>
                <img data-format="webp" data-v-1a9692f7>
              </div>
            </div>
          </li>
          <li class="cover-right" data-v-1a9692f7>
            <div class="article" data-v-1a9692f7>
              <div class="article-box" data-v-1a9692f7>
                <div class="title" data-v-1a9692f7>租賃授權</div>
                <div class="desc" data-v-1a9692f7>
                  租賃授權許可，顧名思義，就是指使用者通過租賃而不是購買的方式，獲得自己所需軟體的有期限的使用權，軟體發展商在租賃期內為使用者一定數量授權許可，租賃期截止服務即終止。
                  當使用者需要有期限的使用某軟體時，這種授權許可常常被採用。
                  <br>
                  <br>這種授權許可的優點是目的性強、費用低、軟體升級和維護的影響小、不易發生資產流失，缺點是長期連續租賃費用較高。
                </div>
              </div>
              <div class="cover" data-v-1a9692f7>
                <img data-format="webp" data-v-1a9692f7>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ end }}