<footer class="footer" data-v-63183480>
  <div class="container" data-v-63183480>
    <ul class="title-box clearfix" data-v-63183480>
      <li class="title-item" data-v-63183480>
        <svg aria-hidden="true" type="stack" class="ico" data-v-63183480>
          <use xlink:href="#ep-icon-stack"></use>
        </svg>
        <span data-v-63183480>高效的办公解决方案</span>
      </li>
      <li class="title-item" data-v-63183480>
        <svg aria-hidden="true" type="service" class="ico" data-v-63183480>
          <use xlink:href="#ep-icon-service"></use>
        </svg>
        <span data-v-63183480>专业的定制化服务</span>
      </li>
      <li class="title-item" data-v-63183480>
        <svg aria-hidden="true" type="phone" class="ico" data-v-63183480>
          <use xlink:href="#ep-icon-phone"></use>
        </svg>
        <span data-v-63183480>5×8小时服务</span>
      </li>
    </ul>
    <div class="line" data-v-63183480></div>
    <div class="footer-more-link-box" data-v-63183480>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>产品</div>
        <ul class="sub-title" data-v-63183480>
          <li data-v-63183480>WPS Office</li>
          <li data-v-63183480>WPS 云文档</li>
          <li data-v-63183480>金山PDF专业版</li>
          <li data-v-63183480>金山词霸企业版</li>
        </ul>
      </div>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>解决方案</div>
        <ul class="sub-title" data-v-63183480>
          <li data-v-63183480>
            <a href="/official" data-v-63183480>正版化办公</a>
          </li>
          <li data-v-63183480>
            <a href="/mobile" data-v-63183480>移动办公</a>
          </li>
          <li data-v-63183480>
            <a href="/safe" data-v-63183480>文档安全</a>
          </li>
          <li data-v-63183480>
            <a href="/genuine" data-v-63183480>文档安全</a>
          </li>
        </ul>
      </div>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>帮助</div>
        <ul class="sub-title" data-v-63183480>
          <li data-v-63183480>
            <a href="http://wps.udesk.cn/hc" target="_blank" data-v-63183480>常见问题</a>
          </li>
          <li data-v-63183480>
            <a href="/genuine" target="_blank" class="nuxt-link-exact-active nuxt-link-active" data-v-63183480>正版授权</a>
          </li>
        </ul>
      </div>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>关于</div>
        <ul class="sub-title" data-v-63183480>
          <li data-v-63183480>
            <a href="https://www.wps.cn/" target="_blank" data-v-63183480>WPS官网</a>
          </li>
          <li data-v-63183480>
            <a href="/about" target="_blank" data-v-63183480>关于金山办公</a>
          </li>
          <li data-v-63183480>
            <a href="https://plus.wps.cn/" target="_blank" data-v-63183480>WPS+云办公</a>
          </li>
        </ul>
      </div>
      <div class="link-item" data-v-63183480>
        <img src="/images/67339c5.svg" alt="微信二维码" class="qrcode" data-v-63183480>
        <div class="qrcode-txt" data-v-63183480>扫一扫微信咨询</div>
      </div>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>客服电话</div>
        <ul class="sub-title contact" data-v-63183480>
          <li data-v-63183480>
            <svg aria-hidden="true" type="phone-filled" class="ico" data-v-63183480>
              <use xlink:href="#ep-icon-phone-filled"></use>
            </svg>
            <span data-v-63183480>400-677-5005</span>
          </li>
          <li data-v-63183480>
            <svg aria-hidden="true" type="qq-filled" class="ico" data-v-63183480>
              <use xlink:href="#ep-icon-qq-filled"></use>
            </svg>
            <span data-v-63183480>4006775005</span>
          </li>
          <li data-v-63183480>
            <svg aria-hidden="true" type="mail-filled" class="ico" data-v-63183480>
              <use xlink:href="#ep-icon-mail-filled"></use>
            </svg>
            <span data-v-63183480>wps@wps.cn</span>
          </li>
          <li class="service-time" data-v-63183480> 服务时间</li>
          <li data-v-63183480> 周一至周五：</li>
          <li data-v-63183480> 9:00-12:00、13:00-18:00</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
