<footer class="footer" data-v-63183480>
  <div class="container" data-v-63183480>
    <ul class="title-box clearfix" data-v-63183480>

    </ul>
    <div class="line" data-v-63183480></div>
    <div class="footer-more-link-box" data-v-63183480>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>產品</div>
        <ul class="sub-title" data-v-63183480>
          <li data-v-63183480>WPS Office</li>
          <li data-v-63183480>WPS 雲文檔</li>
          <li data-v-63183480>金山PDF專業版</li>
          <li data-v-63183480>金山詞霸企業版</li>
        </ul>
      </div>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>解决方案</div>
        <ul class="sub-title" data-v-63183480>
          <li data-v-63183480>
            <a href="/official" data-v-63183480>正版化辦公</a>
          </li>
          <li data-v-63183480>
            <a href="/mobile" data-v-63183480>移動辦公</a>
          </li>
          <li data-v-63183480>
            <a href="/safe" data-v-63183480>文檔安全</a>
          </li>
        </ul>
      </div>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>幫助</div>
        <ul class="sub-title" data-v-63183480>
          <li data-v-63183480>
            <a href="http://wps.udesk.cn/hc" target="_blank" data-v-63183480>常見問題</a>
          </li>
          <li data-v-63183480>
            <a href="/genuine" target="_blank" class="nuxt-link-exact-active nuxt-link-active" data-v-63183480>正版授權</a>
          </li>
        </ul>
      </div>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>關於</div>
        <ul class="sub-title" data-v-63183480>
          <li data-v-63183480>
            <a href="https://www.wps.cn/" target="_blank" data-v-63183480>WPS官網</a>
          </li>
        </ul>
      </div>
      <div class="link-item" data-v-63183480>
        <div class="title" data-v-63183480>客服電話</div>
        <ul class="sub-title contact" data-v-63183480>
          <li data-v-63183480>
            <svg aria-hidden="true" type="phone-filled" class="ico" data-v-63183480>
              <use xlink:href="#ep-icon-phone-filled"></use>
            </svg>
            <span data-v-63183480>400-677-5005</span>
          </li>
          <li data-v-63183480>
            <svg aria-hidden="true" type="mail-filled" class="ico" data-v-63183480>
              <use xlink:href="#ep-icon-mail-filled"></use>
            </svg>
            <span data-v-63183480>wps@wps.hk</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
