<header data-v-447be90f>
  <div class="container" data-v-447be90f>
    <a href="/" class="logo" data-v-447be90f>
      <img src="/images/f082de9.svg" alt="金山办公" title="金山办公">
    </a>
    <ul class="nav" data-v-447be90f>
      <li class="nav-item" data-v-447be90f>
        <a href="/official/" class="nuxt-link-active" data-v-447be90f>首页</a>
      </li>
      <li class="nav-item" data-v-447be90f>
        <a href="/mobile/" data-v-447be90f>下载试用</a>
      </li>
      <li class="nav-item has-dropdown" data-v-447be90f>
        <a href="javascript:void(0);" class="nav-link" data-v-447be90f>解决方案</a>
        <ul class="nav-dropdown tooltip tooltip-top-left" style="display:none" data-v-447be90f>
          <li class="nav-item" data-v-447be90f>
            <a href="/official" class="nav-link nuxt-link-exact-active nuxt-link-active" data-v-447be90f>正版化办公</a>
          </li>
          <li class="nav-item" data-v-447be90f>
            <a href="/mobile" class="nav-link" data-v-447be90f>移动办公</a>
          </li>
          <li class="nav-item" data-v-447be90f>
            <a href="/safe" class="nav-link" data-v-447be90f>文档安全</a>
          </li>
          <li class="nav-item" data-v-447be90f>
            <a href="/genuine" class="nav-link" data-v-447be90f>金融行业</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="phone" data-v-447be90f>
      <svg aria-hidden="true" type="kf" class="ico" data-v-447be90f>
        <use xlink:href="#ep-icon-kf"></use>
      </svg>
      <span data-v-447be90f>400-677-5005</span>
    </div>
  </div>
</header>
