{{ define "main" }}
<div data-server-rendered="true" id="__nuxt">
  <!---->
  <div id="__layout">
    <div>
      {{ partial "header.html" . }}
      <div id="home" class="main">
        <div class="banner" data-v-7f875d66>
          <div class="box" data-v-7f875d66>
            <div class="bg" data-v-7f875d66></div>
          </div>
          <div class="container" data-v-7f875d66>
            <div class="slogon" data-v-7f875d66>
              <div class="title" data-v-7f875d66>让企业 
                <br data-v-7f875d66> 办公从此变得不一样
              </div>
              <div class="desc" data-v-7f875d66>专注为企业打造云端文档服务平台</div>
              <a href="/download" data-v-7f875d66>
                <div class="download feedback" data-v-7f875d66>下载试用</div>
              </a>
            </div>
            <div class="cover" data-v-7f875d66></div>
          </div>
        </div>
        <div class="apps" data-v-1f4fc744>
          <div class="container" data-v-1f4fc744>
            <div class="main-title" data-v-1f4fc744>多产品、多平台</div>
            <div class="sub-title" data-v-1f4fc744>支持PC、手机等多种设备，满足企业日常办公需求</div>
          </div>
          <div class="container" data-v-1f4fc744>
            <div class="devices" data-v-1f4fc744>
              <img src="/images/8fd8367.png" alt="多终端" data-v-1f4fc744>
            </div>
            <div class="desc-list" data-v-1f4fc744>
              <div class="item" data-v-1f4fc744>
                <img src="/images/208482f.svg" alt="WPS Office" class="logo lazyload" data-v-1f4fc744>
                <div class="title" data-v-1f4fc744>WPS Office</div>
                <div class="desc" data-v-1f4fc744>集文字处理、电子表格、电子文档演示为一体的信息化办公平台，秉承兼容、开放、高效、安全的原则，拥有强大的文档处理能力，符合现代中文办公的需求</div>
              </div>
              <div class="item" data-v-1f4fc744>
                <img src="/images/download-2.svg" alt="WPS 云文档" class="logo lazyload" data-v-1f4fc744>
                <div class="title" data-v-1f4fc744>WPS 云文档</div>
                <div class="desc" data-v-1f4fc744>围绕文档存储、文档权限管理、在线文档处理的全平台文档管理系统，帮助企业实现文档云端统一管理，确保稳定安全</div>
              </div>
              <div class="item" data-v-1f4fc744>
                <img alt="金山PDF专业版" class="logo lazyload" data-v-1f4fc744 src="/images/4255837.svg">
                <div class="title" data-v-1f4fc744>金山PDF专业版</div>
                <div class="desc" data-v-1f4fc744>一款精巧稳定的PDF工具，提供更快速、舒适的阅读体验，具有优异的转换效果，启动迅速，简洁易用，能够提供高效的PDF服务</div>
              </div>
              <div class="item" data-v-1f4fc744>
                <img alt="金山词霸企业版" class="logo lazyload" data-v-1f4fc744 src="/images/143d0ae.svg">
                <div class="title" data-v-1f4fc744>金山词霸企业版</div>
                <div class="desc" data-v-1f4fc744>
                  <p data-v-1f4fc744>内含海量权威词典</p>
                  <p data-v-1f4fc744>可自编辑、定制化的词库</p>
                  <p data-v-1f4fc744>强大的屏幕取词功能，随时随手取词翻译</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="features" data-v-e3c52a54>
          <div class="left-padding" data-v-e3c52a54>
            <div class="prev" data-v-e3c52a54></div>
          </div>
          <div class="container" data-v-e3c52a54>
            <div class="main-title" data-v-e3c52a54>值得信赖的企业办公平台</div>
            <div class="sub-title" data-v-e3c52a54>深入了解企业文档管理痛点和现状，帮助企业加速信息化办公水平</div>
            <div class="glide" data-v-e3c52a54>
              <div data-glide-el="track" class="feature-box" data-v-e3c52a54>
                <div class="glide__slides" style="display:none" data-v-e3c52a54>
                  <div class="feature glide__slide feedback" data-v-e3c52a54>
                    <a href="/official" alt="正版化办公" data-v-e3c52a54>
                      <img data-src="/images/8a1b7a4.png" alt="正版化办公" data-label="正版化办公-img" class="bg" data-v-e3c52a54>
                    </a>
                    <div class="content" data-v-e3c52a54>
                      <a href="/official" alt="正版化办公" data-v-e3c52a54>
                        <div data-label="正版化办公-title" class="title" data-v-e3c52a54>正版化办公</div>
                      </a>
                      <a href="/official" alt="正版化办公" data-v-e3c52a54>
                        <div data-label="正版化办公-content" class="desc" data-v-e3c52a54>以WPS Office 客户端为核心，提供正版化解决方案</div>
                      </a>
                    </div>
                  </div>
                  <div class="feature glide__slide feedback" data-v-e3c52a54>
                    <a href="/solution/mobile" alt="移动办公" data-v-e3c52a54>
                      <img data-src="/images/6cdda1a.png" alt="移动办公" data-label="移动办公-img" class="bg" data-v-e3c52a54>
                    </a>
                    <div class="content" data-v-e3c52a54>
                      <a href="/solution/mobile" alt="移动办公" data-v-e3c52a54>
                        <div data-label="移动办公-title" class="title" data-v-e3c52a54>移动办公</div>
                      </a>
                      <a href="/solution/mobile" alt="移动办公" data-v-e3c52a54>
                        <div data-label="移动办公-content" class="desc" data-v-e3c52a54>为企业提供随时随地、安全可靠的文档阅读、编辑的解决方案</div>
                      </a>
                    </div>
                  </div>
                  <div class="feature glide__slide feedback" data-v-e3c52a54>
                    <a href="/solution/safe" alt="文档安全" data-v-e3c52a54>
                      <img data-src="/images/17f85f5.png" alt="文档安全" data-label="文档安全-img" class="bg" data-v-e3c52a54>
                    </a>
                    <div class="content" data-v-e3c52a54>
                      <a href="/solution/safe" alt="文档安全" data-v-e3c52a54>
                        <div data-label="文档安全-title" class="title" data-v-e3c52a54>文档安全</div>
                      </a>
                      <a href="/solution/safe" alt="文档安全" data-v-e3c52a54>
                        <div data-label="文档安全-content" class="desc" data-v-e3c52a54>帮助企业解决遇到的文档安全隐患，保障企业数据安全</div>
                      </a>
                    </div>
                  </div>
                  <div class="feature glide__slide feedback" data-v-e3c52a54>
                    <a href="/solution/financial" alt="金融行业" data-v-e3c52a54>
                      <img data-src="/images/b4ff64c.png" alt="金融行业" data-label="金融行业-img" class="bg" data-v-e3c52a54>
                    </a>
                    <div class="content" data-v-e3c52a54>
                      <a href="/solution/financial" alt="金融行业" data-v-e3c52a54>
                        <div data-label="金融行业-title" class="title" data-v-e3c52a54>金融行业</div>
                      </a>
                      <a href="/solution/financial" alt="金融行业" data-v-e3c52a54>
                        <div data-label="金融行业-content" class="desc" data-v-e3c52a54>打造行业文档安全可视、可控、智能的新体系，全面提升使用、维护管理的易用</div>
                      </a>
                    </div>
                  </div>
                  <div class="feature glide__slide feedback" data-v-e3c52a54>
                    <a href="/solution/energy" alt="能源行业" data-v-e3c52a54>
                      <img data-src="/images/cb3e663.png" alt="能源行业" data-label="能源行业-img" class="bg" data-v-e3c52a54>
                    </a>
                    <div class="content" data-v-e3c52a54>
                      <a href="/solution/energy" alt="能源行业" data-v-e3c52a54>
                        <div data-label="能源行业-title" class="title" data-v-e3c52a54>能源行业</div>
                      </a>
                      <a href="/solution/energy" alt="能源行业" data-v-e3c52a54>
                        <div data-label="能源行业-content" class="desc" data-v-e3c52a54>为企业业务系统、邮件、IM等，提供文档在线查阅和编辑处理的能力</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-padding" data-v-e3c52a54>
            <div class="next" data-v-e3c52a54></div>
          </div>
        </div>
        <div class="more" data-v-4f86e22d>
          <div class="container" data-v-4f86e22d>
            <div class="main-title" data-v-4f86e22d>更多企业产品</div>
            <div class="sub-title" data-v-4f86e22d>改变企业办公方式，提升企业办公效率</div>
            <a href="/download" data-v-4f86e22d>
              <button class="download feedback" data-v-4f86e22d>下载试用</button>
            </a>
          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
      <div class="sticker" data-v-7a62f03a>
        <div class="backtop" data-v-7a62f03a>
          <svg aria-hidden="true" type="top" class="ico" data-v-7a62f03a>
            <use xlink:href="#ep-icon-top"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
