{{ define "main" }}
<div id="home" class="main">
  <div class="banner" data-v-7f875d66>
    <div class="box" data-v-7f875d66>
      <div class="bg" data-v-7f875d66></div>
    </div>
    <div class="container" data-v-7f875d66>
      <div class="slogon" data-v-7f875d66>
        <div class="title" data-v-7f875d66>WPS 2019
          <br data-v-7f875d66> 辦公從此變得不一樣
        </div>
        <div class="desc" data-v-7f875d66>適用於香港地區
        </div>
        <a href="mailto:wps@wps.hk" data-v-7f875d66>
          <div class="download feedback" data-v-7f875d66>獲取報價</div>
        </a>
      </div>
      <div class="cover" data-v-7f875d66></div>
    </div>
  </div>
  <div class="apps" data-v-1f4fc744>
    <div class="container" data-v-1f4fc744>
      <div class="main-title" data-v-1f4fc744>多產品、多平台</div>
      <div class="sub-title" data-v-1f4fc744>支援PC、手機等多種設備，滿足企業日常辦公需求</div>
    </div>
    <div class="container" data-v-1f4fc744>
      <div class="devices" data-v-1f4fc744>
        <img src="/images/8fd8367.png" alt="多终端" data-v-1f4fc744>
      </div>
      <div class="desc-list" data-v-1f4fc744>
        <div class="item" data-v-1f4fc744>
          <img src="/images/208482f.svg" alt="WPS Office" class="logo lazyload" data-v-1f4fc744>
          <div class="title" data-v-1f4fc744>WPS Office</div>
          <div class="desc" data-v-1f4fc744>集文字處理、試算表、電子文檔演示為一體的資訊化辦公平臺，秉承相容、開放、高效、安全的原則，擁有強大的文檔處理能力，符合現代中文辦公的需求</div>
        </div>
        <div class="item" data-v-1f4fc744>
          <img src="/images/download-2.svg" alt="WPS 雲文檔" class="logo lazyload" data-v-1f4fc744>
          <div class="title" data-v-1f4fc744>WPS 雲文檔</div>
          <div class="desc" data-v-1f4fc744>圍繞文檔存儲、文檔版權管理、線上文檔處理的全平臺文件管理系統，説明企業實現文檔雲端統一管理，確保穩定安全</div>
        </div>
        <div class="item" data-v-1f4fc744>
          <img alt="金山PDF专业版" class="logo lazyload" data-v-1f4fc744 src="/images/4255837.svg">
          <div class="title" data-v-1f4fc744>金山PDF專業版</div>
          <div class="desc" data-v-1f4fc744>一款精巧穩定的PDF工具，提供更快速、舒適的閱讀體驗，具有優異的轉換效果，啟動迅速，簡潔易用，能夠提供高效的PDF服務</div>
        </div>
        <div class="item" data-v-1f4fc744>
          <img alt="金山词霸企业版" class="logo lazyload" data-v-1f4fc744 src="/images/143d0ae.svg">
          <div class="title" data-v-1f4fc744>金山詞霸企業版</div>
          <div class="desc" data-v-1f4fc744>
            <p data-v-1f4fc744>內含海量權威詞典</p>
            <p data-v-1f4fc744>可自編輯、定制化的詞庫</p>
            <p data-v-1f4fc744>強大的螢幕取詞功能，隨時隨手取詞翻譯</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features" data-v-e3c52a54>
    <div class="left-padding" data-v-e3c52a54>
      <div class="prev" data-v-e3c52a54></div>
    </div>
    <div class="container" data-v-e3c52a54>
      <div class="main-title" data-v-e3c52a54>值得信賴的企業辦公平台</div>
      <div class="sub-title" data-v-e3c52a54>深入瞭解企業文件管理痛點和現狀，幫助企業加速信息化辦公水平</div>
      <div class="glide" data-v-e3c52a54>
        <div data-glide-el="track" class="feature-box" data-v-e3c52a54>
          <div class="glide__slides" style="display:none" data-v-e3c52a54>
            <div class="feature glide__slide feedback" data-v-e3c52a54>
              <a href="/official" alt="正版化办公" data-v-e3c52a54>
                <img data-src="/images/8a1b7a4.png" alt="正版化办公" data-label="正版化办公-img" class="bg" data-v-e3c52a54>
              </a>
              <div class="content" data-v-e3c52a54>
                <a href="/official" alt="正版化办公" data-v-e3c52a54>
                  <div data-label="正版化办公-title" class="title" data-v-e3c52a54>正版化辦公</div>
                </a>
                <a href="/official" alt="正版化办公" data-v-e3c52a54>
                  <div data-label="正版化办公-content" class="desc" data-v-e3c52a54>以WPS Office 客户端為核心，提供正版化解决方案</div>
                </a>
              </div>
            </div>
            <div class="feature glide__slide feedback" data-v-e3c52a54>
              <a href="/solution/mobile" alt="移动办公" data-v-e3c52a54>
                <img data-src="/images/6cdda1a.png" alt="移动办公" data-label="移动办公-img" class="bg" data-v-e3c52a54>
              </a>
              <div class="content" data-v-e3c52a54>
                <a href="/solution/mobile" alt="移动办公" data-v-e3c52a54>
                  <div data-label="移动办公-title" class="title" data-v-e3c52a54>移動辦公</div>
                </a>
                <a href="/solution/mobile" alt="移动办公" data-v-e3c52a54>
                  <div data-label="移动办公-content" class="desc" data-v-e3c52a54>為企業提供随時随地、安全可靠的文檔閱讀、編輯的解决方案</div>
                </a>
              </div>
            </div>
            <div class="feature glide__slide feedback" data-v-e3c52a54>
              <a href="/solution/safe" alt="文档安全" data-v-e3c52a54>
                <img data-src="/images/17f85f5.png" alt="文档安全" data-label="文档安全-img" class="bg" data-v-e3c52a54>
              </a>
              <div class="content" data-v-e3c52a54>
                <a href="/solution/safe" alt="文档安全" data-v-e3c52a54>
                  <div data-label="文档安全-title" class="title" data-v-e3c52a54>文檔安全</div>
                </a>
                <a href="/solution/safe" alt="文档安全" data-v-e3c52a54>
                  <div data-label="文档安全-content" class="desc" data-v-e3c52a54>幫助企業解决遇到的文檔安全隱患，保障企業數據安全</div>
                </a>
              </div>
            </div>
            <div class="feature glide__slide feedback" data-v-e3c52a54>
              <a href="/solution/financial" alt="金融行业" data-v-e3c52a54>
                <img data-src="/images/b4ff64c.png" alt="金融行业" data-label="金融行业-img" class="bg" data-v-e3c52a54>
              </a>
              <div class="content" data-v-e3c52a54>
                <a href="/solution/financial" alt="金融行业" data-v-e3c52a54>
                  <div data-label="金融行业-title" class="title" data-v-e3c52a54>金融行業</div>
                </a>
                <a href="/solution/financial" alt="金融行业" data-v-e3c52a54>
                  <div data-label="金融行业-content" class="desc" data-v-e3c52a54>打造行業文檔安全可視、可控、智能的新體系，全面提升使用、維護管理的易用</div>
                </a>
              </div>
            </div>
            <div class="feature glide__slide feedback" data-v-e3c52a54>
              <a href="/solution/energy" alt="能源行业" data-v-e3c52a54>
                <img data-src="/images/cb3e663.png" alt="能源行业" data-label="能源行业-img" class="bg" data-v-e3c52a54>
              </a>
              <div class="content" data-v-e3c52a54>
                <a href="/solution/energy" alt="能源行业" data-v-e3c52a54>
                  <div data-label="能源行业-title" class="title" data-v-e3c52a54>能源行業</div>
                </a>
                <a href="/solution/energy" alt="能源行业" data-v-e3c52a54>
                  <div data-label="能源行业-content" class="desc" data-v-e3c52a54>為企業業務系統、郵件、IM等，提供文檔在線查閱和編輯處理的能力</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-padding" data-v-e3c52a54>
      <div class="next" data-v-e3c52a54></div>
    </div>
  </div>
  <div class="more" data-v-4f86e22d>
    <div class="container" data-v-4f86e22d>
      <div class="main-title" data-v-4f86e22d>更多企业产品</div>
      <div class="sub-title" data-v-4f86e22d>改变企业办公方式，提升企业办公效率</div>
      <a href="/download" data-v-4f86e22d>
        <button class="download feedback" data-v-4f86e22d>下载试用</button>
      </a>
    </div>
  </div>
</div>
{{ end }}