{{ define "main" }}
<div id="home" class="main">
  <div class="banner" data-v-7f875d66>
    <div class="box" data-v-7f875d66>
      <div class="bg" data-v-7f875d66></div>
    </div>
    <div class="container" data-v-7f875d66>
      <div class="slogon" data-v-7f875d66>
        <div class="title" data-v-7f875d66>WPS 2019
          <br data-v-7f875d66> 辦公從此變得不一樣
        </div>
        <div class="desc" data-v-7f875d66>適用於香港地區
        </div>
        <a href="mailto:wps@wps.hk" data-v-7f875d66>
          <div class="download feedback" data-v-7f875d66>獲取報價</div>
        </a>
      </div>
      <div class="cover" data-v-7f875d66></div>
    </div>
  </div>
  <div class="apps" data-v-1f4fc744>
    <div class="container" data-v-1f4fc744>
      <div class="main-title" data-v-1f4fc744>多產品、多平台</div>
      <div class="sub-title" data-v-1f4fc744>支援PC、手機等多種設備，滿足企業日常辦公需求</div>
    </div>
    <div class="container" data-v-1f4fc744>
      <div class="devices" data-v-1f4fc744>
        <img src="/images/8fd8367.png" alt="多终端" data-v-1f4fc744>
      </div>
      <div class="desc-list" data-v-1f4fc744>
        <div class="item" data-v-1f4fc744>
          <img src="/images/208482f.svg" alt="WPS Office" class="logo lazyload" data-v-1f4fc744>
          <div class="title" data-v-1f4fc744>WPS Office</div>
          <div class="desc" data-v-1f4fc744>集文字處理、試算表、電子文檔演示為一體的資訊化辦公平臺，秉承相容、開放、高效、安全的原則，擁有強大的文檔處理能力，符合現代中文辦公的需求</div>
        </div>
        <div class="item" data-v-1f4fc744>
          <img src="/images/download-2.svg" alt="WPS 雲文檔" class="logo lazyload" data-v-1f4fc744>
          <div class="title" data-v-1f4fc744>WPS 雲文檔</div>
          <div class="desc" data-v-1f4fc744>圍繞文檔存儲、文檔版權管理、線上文檔處理的全平臺文件管理系統，説明企業實現文檔雲端統一管理，確保穩定安全</div>
        </div>
        <div class="item" data-v-1f4fc744>
          <img alt="金山PDF专业版" class="logo lazyload" data-v-1f4fc744 src="/images/4255837.svg">
          <div class="title" data-v-1f4fc744>金山PDF專業版</div>
          <div class="desc" data-v-1f4fc744>一款精巧穩定的PDF工具，提供更快速、舒適的閱讀體驗，具有優異的轉換效果，啟動迅速，簡潔易用，能夠提供高效的PDF服務</div>
        </div>
        <div class="item" data-v-1f4fc744>
          <img alt="金山词霸企业版" class="logo lazyload" data-v-1f4fc744 src="/images/143d0ae.svg">
          <div class="title" data-v-1f4fc744>金山詞霸企業版</div>
          <div class="desc" data-v-1f4fc744>
            <p data-v-1f4fc744>內含海量權威詞典</p>
            <p data-v-1f4fc744>可自編輯、定制化的詞庫</p>
            <p data-v-1f4fc744>強大的螢幕取詞功能，隨時隨手取詞翻譯</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="more" data-v-4f86e22d>
    <div class="container" data-v-4f86e22d>
      <div class="main-title" data-v-4f86e22d>更多企業產品</div>
      <div class="sub-title" data-v-4f86e22d>改變企業辦公方式，提升企業辦公效率</div>
      <a href="mailto:wps@wps.hk" data-v-4f86e22d>
        <button class="download feedback" data-v-4f86e22d>獲取報價</button>
      </a>
    </div>
  </div>
</div>
{{ end }}